<!-- cabezera -->
<header class="p-4 mb-3 border-bottom page-header">
   <div class="container-fluid d-flex g-4 align-items-center">
      <!-- LOGO -->
      <div class="logo-container">
         <a href="#">
         <img src="/images/logo_revendo.png" alt="Revendo logo" width="80" height="60"/>
         </a>
         <p class="texto-marca">ReVendo</p>
      </div>
      <!-- TExt + AVATAR -->
      <div class="d-flex align-items-center gap-5 ms-auto">
         <!-- text -->
         <div class="texto-admin">
            <p>Bienvenido, admin!</p>
            <p>Administrador</p>
         </div>
         <div>
            <a href="#">
            <img src="/images/bell.svg" alt="notificaciones" width="40" height="30"/>
            </a>
         </div>
         <!-- AVATAR-->
         <div class="flex-shrink-0 dropdown avatar-dropdown">
            <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <img src="/images/profile-avatar.svg" alt="Avatar de perfil" width="38" height="38" class="rounded-circle"/>
            </a>
            <ul class="dropdown-menu dropdown-menu-end text-small shadow">
               <li><a class="dropdown-item" href="#">Perfil</a></li>
               <li><a class="dropdown-item" href="#">Cerrar sesión</a></li>
            </ul>
         </div>
      </div>
   </div>
</header>