 <!-- cabezera -->
<div class="page-shell">
  <header class="p-4 mb-3 border-bottom page-header">
    <div class="container-fluid d-flex g-4 align-items-center">

      <!-- LOGO -->
      <div class="logo-container">
        <a href="#">
          <img
            src="/images/logo_revendo.png"
            alt="Revendo logo"
            width="80"
            height="60"
          />
        </a>
        <p class="texto-marca">ReVendo</p>
      </div>
 
      <!-- TExt + AVATAR -->
      <div class="d-flex align-items-center gap-5 ms-auto">

        <!-- text -->
         <div class = "texto-admin">
            <p>Bienvenido, admin!</p>
            <p>Administrador</p> 
         </div>
                 
        <!-- AVATAR-->
        <div class="flex-shrink-0 dropdown avatar-dropdown">
          <a
            href="#"
            class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <img
              src="/images/profile-avatar.svg"
              alt="Avatar de perfil"
              width="38"
              height="38"
              class="rounded-circle"
            />
          </a>
          <ul class="dropdown-menu dropdown-menu-end text-small shadow">
            <li><a class="dropdown-item" href="#">Salir</a></li>
          </ul>
        </div>

      </div>
    </div>
  </header>
    <!--menu-->
     <div class ="menu-gestiones">
      <nav class="py-2 bg-body page-nav mx-auto ">
        <div class="container d-flex flex-wrap">
          <ul class="nav justify-content-center gap-5">
            <li class="nav-item  flex-fill text-center ">
              <a
                class="btn btn-gestiones"
                href="#">
                Gestión usuarios
              </a>
            </li>
            <li class="nav-item flex-fill text-center">
              <a
                class="btn btn-gestiones"
                href="#">
                Gestión articulos
              </a>
            </li>
            <li class="nav-item flex-fill text-center">
              <a
                class="btn btn-gestiones"
                href="#">
                Gestión de reportes
              </a>
            </li>
            <li class="nav-item flex-fill text-center">
              <a
                class="btn btn-gestiones"
                href="#">
                 Gestión de categorías
              </a>
            </li>
          </ul>
        </div>
      </nav>
      </div>
 <div class="menu-buscadores">
    <div class="input-group mb-3 mt-3 buscador">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img src="/images/lupa.png" width="24" height="24" alt="Buscar">
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Buscar usuario"
            aria-label="Buscar">
        </div>
         <div class="input-group mb-3 mt-3 buscador">
          <div class="input-group-prepend">
            <span class="input-group-text">
              <img src="/images/lupa.png" width="24" height="24" alt="Buscar">
            </span>
          </div>
          <input type="text" class="form-control" placeholder="Buscar email"
            aria-label="Buscar">
        </div>
    </div>
</div>