@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;700&display=swap');

* {
  box-sizing: border-box;
  font-family: 'Geologica', sans-serif;
}

body {
  margin: 0;
}

.page-header {
  width: 100%;
  top: 0;
  position: sticky;
  z-index: 1000;
  background: #fff;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
  /* Un poco más de espacio entre el icono y el texto */
}

.texto-marca {
  font-size: 2em;
  font-weight: 300;
}

/* Formateo de textos de administración */
.texto-admin p:first-child {
  font-size: 1.2rem;
  /* Reducido un poco para que no rompa el diseño */
  font-weight: 600;
}

.texto-admin p:last-child {
  font-size: 0.85rem;
}

/* Estilo activo personalizado para los elementos del menú */
.dropdown-item:active {
  background-color: #8cd86a !important;
  color: #fff !important;
}