@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@300;600;700&display=swap');


:host {
  display: block;
  position: sticky;
  top: 0;
  z-index: 1030;
  background-color: #fff;
  width: 100%;
}

header {
  backface-visibility: hidden;
  -webkit-backface-visibility: hidden;
}

* {
  box-sizing: border-box;
  font-family: 'Geologica', sans-serif;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 8px;
}

.texto-marca {
  font-size: 2rem;
  font-weight: 300;
}

.texto-admin p:first-child {
  font-size: 1.1rem;
  font-weight: 600;
}

.dropdown-item:active {
  background-color: #8cd86a !important;
  color: #fff !important;
}

.page-nav .nav-link {
  display: inline-block;
  width: 100%;
}