
<div class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-uppercase text-white">
  <span class="fw-bold">{{ title }}</span>
</div>

<ul class="nav flex-column list-unstyled">
  @for (option of options; track option.id) {
    <li class="nav-item">
      <a class="nav-link d-flex align-items-center gap-2 py-2 px-3"
         [class.active]="option.id === activeTab"
         (click)="onOptionClick(option.id); $event.preventDefault();"
         style="cursor: pointer;">
        
        <i class="bi {{ option.icon }} fs-5 text-white"></i>
        <span>{{ option.name }}</span>
        
      </a>
    </li>
  }
</ul>




