<div class="signin-wrapper d-flex">
  <div class="signin-card d-flex">

    <div class="form-section">
      <h2 class="text-center mb-4">REGISTRO</h2>

      <form (ngSubmit)="onSubmit()" #registerForm="ngForm">

        <div class="mb-2">
          <label class="form-label">Nombre*</label>
          <input type="text" class="form-control form-control-sm" name="nombre" [(ngModel)]="formData.nombre"
            required />
        </div>

        <div class="mb-2">
          <label class="form-label">Apellidos*</label>
          <input type="text" class="form-control form-control-sm" name="apellidos" [(ngModel)]="formData.apellidos"
            required />
        </div>

        <div class="mb-2">
          <label class="form-label">Email*</label>
          <input type="email" class="form-control form-control-sm" name="email" [(ngModel)]="formData.email" required />
        </div>

        <div class="mb-2">
          <label class="form-label">Usuario*</label>
          <input type="text" class="form-control form-control-sm" name="usuario" [(ngModel)]="formData.usuario"
            required />
        </div>

        <div class="mb-2">
          <label class="form-label">Contraseña*</label>
          <input type="password" class="form-control form-control-sm" name="password" [(ngModel)]="formData.password"
            required />
        </div>

        <div class="mb-2">
          <label class="form-label">Fecha de nacimiento*</label>
          <input type="date" class="form-control form-control-sm"
                 name="fecha_nacimiento" [(ngModel)]="formData.fecha_nacimiento"
                 required [max]="maxDate"/>
          @if (esMenorDeEdad()) {
            <div class="text-danger mt-1" style="font-size: 0.75rem;">
              Debes tener al menos 18 años para registrarte.
            </div>
          }
        </div>

        <div class="mb-2">
          <label class="form-label">Fecha de nacimiento*</label>
          <input type="date" class="form-control form-control-sm" name="fecha_nacimiento"
            [(ngModel)]="formData.fecha_nacimiento" required />
        </div>

        <div class="mb-2">
          <div class="col-12">
            <label for="direccion" class="form-label fw-bold text-dark fs-7 text-uppercase tracking-wider">
              Ubicación / Dirección*
            </label>
            <div class="input-group">
              <span class="input-group-text bg-light text-muted"><i class="fa fa-map-marker"></i></span>

              <input type="text" id="direccion" name="direccion" [(ngModel)]="formData.direccion"
                #direccionInput="ngModel" class="form-control p-2.5" placeholder="Ej: Calle Gran Vía 45, Madrid, España"
                [class.is-invalid]="direccionInput.invalid && (direccionInput.dirty || direccionInput.touched)"
                required />
            </div>

            <div class="form-text text-muted fs-8 mt-1">
              Esta dirección se utilizará de forma automática para renderizar tu mapa de localización.
            </div>
          </div>
        </div>

        <div class="text-end mt-3">
          <button type="submit" class="btn btn-crear" [disabled]="registerForm.invalid">
            Crear
          </button>
        </div>

      </form>
    </div>

  </div>
</div>