<div class="signin-wrapper py-5">
  <div class="signin-card">

    <div class="form-section">
      <h2 class="text-center mb-4">REGISTRO</h2>

      <form (ngSubmit)="onSubmit()" #registerForm="ngForm" autocomplete="off">

        <div class="mb-3">
          <label class="form-label">Nombre*</label>
          <input type="text" class="form-control form-control-sm" name="nombre" [(ngModel)]="formData.nombre" required
            #nombreField="ngModel"
            [class.is-invalid]="nombreField.invalid && (nombreField.dirty || nombreField.touched)" />

          @if (nombreField.invalid && (nombreField.dirty || nombreField.touched)) {
          <div class="invalid-feedback d-block">
            El nombre es obligatorio.
          </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label">Apellidos*</label>
          <input type="text" class="form-control form-control-sm" name="apellidos" [(ngModel)]="formData.apellidos"
            required #apellidosField="ngModel"
            [class.is-invalid]="apellidosField.invalid && (apellidosField.dirty || apellidosField.touched)" />

          @if (apellidosField.invalid && (apellidosField.dirty || apellidosField.touched)) {
          <div class="invalid-feedback d-block">
            Los apellidos son obligatorios.
          </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label">Email*</label>
          <input type="email" class="form-control form-control-sm" name="email" [(ngModel)]="formData.email" required
            email #emailField="ngModel"
            [class.is-invalid]="emailField.invalid && (emailField.dirty || emailField.touched)" />

          @if (emailField.invalid && (emailField.dirty || emailField.touched)) {
          <div class="invalid-feedback d-block">
            Introduce un email válido.
          </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label">Usuario*</label>
          <input type="text" class="form-control form-control-sm" name="usuario" [(ngModel)]="formData.usuario" required
            #usuarioField="ngModel"
            [class.is-invalid]="usuarioField.invalid && (usuarioField.dirty || usuarioField.touched)" />

          @if (usuarioField.invalid && (usuarioField.dirty || usuarioField.touched)) {
          <div class="invalid-feedback d-block">
            El usuario es obligatorio.
          </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label">Contraseña*</label>
          <input type="password" class="form-control form-control-sm" name="password" [(ngModel)]="formData.password"
            required #passwordField="ngModel"
            [class.is-invalid]="passwordField.invalid && (passwordField.dirty || passwordField.touched)" />

          @if (passwordField.invalid && (passwordField.dirty || passwordField.touched)) {
          <div class="invalid-feedback d-block">
            La contraseña es obligatoria.
          </div>
          }
        </div>

        <div class="mb-3">
          <label class="form-label">Foto de Perfil</label>
          <input type="file" class="form-control form-control-sm" (change)="onFileSelected($event)" accept="image/*" />
        </div>

        <div class="mb-3">
          <label class="form-label">Fecha de nacimiento*</label>
          <input type="date" class="form-control form-control-sm" name="fecha_nacimiento"
            [(ngModel)]="formData.fecha_nacimiento" required #fechaField="ngModel" [max]="maxDate"
            [class.is-invalid]="(fechaField.invalid || esMenorDeEdad()) && (fechaField.dirty || fechaField.touched)" />

          @if (fechaField.invalid && (fechaField.dirty || fechaField.touched)) {
          <div class="invalid-feedback d-block">
            La fecha es obligatoria.
          </div>
          }
          @if (esMenorDeEdad()) {
          <div class="invalid-feedback d-block">
            Debes tener al menos 18 años.
          </div>
          }
        </div>

        <div class="mb-4">
          <label for="direccion" class="form-label">Ubicación / Dirección*</label>
          <div class="input-group">
            <span class="input-group-text text-muted"><i class="fa fa-map-marker"></i></span>
            <input type="text" id="direccion" name="direccion" [(ngModel)]="formData.direccion"
              #direccionInput="ngModel" class="form-control form-control-sm" placeholder="Ej: Calle Gran Vía 45, Madrid"
              [class.is-invalid]="direccionInput.invalid && (direccionInput.dirty || direccionInput.touched)"
              required />
          </div>
          <div class="form-text text-muted" style="font-size: 11px; margin-top: 4px;">
            Esta dirección se utilizará de forma automática para renderizar tu mapa de localización.
          </div>

          @if (direccionInput.invalid && (direccionInput.dirty || direccionInput.touched)) {
          <div class="invalid-feedback d-block">
            La dirección es obligatoria.
          </div>
          }
        </div>

        <div class="d-flex flex-column flex-sm-row justify-content-sm-end gap-2 pt-2">
          <button type="button" class="btn-back" (click)="onBack()">
            Volver
          </button>

          <button type="submit" class="btn btn-crear" [disabled]="registerForm.invalid || esMenorDeEdad()">
            Crear Cuenta
          </button>
        </div>

      </form>
    </div>

  </div>
</div>