.moderation-layout {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: calc(100vh - 138px - 60px - 48px); 
  overflow: hidden;
}

.moderation-sidebar {
  width: 250px;
  min-width: 250px;
  background-color: #8cd86a; 
  flex-shrink: 0; 
}

.moderation-sidebar app-sidebar {
  display: block;
  width: 100%;
  height: 100%;
}

.component-view {
  padding: 1.5rem;           
  width: calc(100% - 250px); 
  flex-grow: 1;              
  height: 100%;
  overflow-y: auto;
  background-color: #f8f9fa;   
  transition: margin-left 0.3s ease, width 0.3s ease;
  z-index: 20;
}















