@import "@placekit/autocomplete-js/dist/placekit-autocomplete.css";

@font-face {
  font-family: 'Geologica';
  src: url('/fonts/Geologica_Auto-Bold.ttf') format('truetype');
  font-weight: auto;
  font-style: normal;
}

:root {
  --primary-color: #6ab03b;
  --secundary-color: #000;
  --font-primary: 700 2rem 'Geologica', sans-serif;
}