
<div class="table-responsive">
  <table class="table table-hover table-striped mb-0 align-middle custom-table">
    <thead>
      <tr>

        <th class="col-fecha">Fecha</th> 
        <th class="col-caso">Caso</th>
        <th class="col-resolucion">Resolución</th>
        <th class="col-articulo">Artículo</th>
        <th class="col-motivo">Motivo del Reporte</th>
        <!-- VCB - desactivar columna acciones
        <th class="col-acciones text-center">Acciones</th>
        --> 
      </tr>
    </thead>
    <tbody>
      @for (history of paginatedHistory(); track $index) {
        <tr>

          <td><span class="text-muted">{{ history.created_at | date:'dd/MM/yyyy HH:mm' }}</span></td>
          
          <td><strong>#{{ history.id }}</strong></td>
          
          <td>
            <strong [ngClass]="history.estado === 'retirado' ? 'txt-error' : 'txt-success'">
              {{ history.estado === 'retirado' ? '❌ RETIRADO' : '✅ ACTIVO' }}
            </strong>
          </td>
          
          <td>{{ history.titulo }}</td>
          
          <td>
            <span class="col-text-notes">
              {{ history.motivo }}
            </span>
          </td>
          <!-- VCB - Desactivar botón de vista detalle de los articulos reportados gestionados
          <td class="text-center">
            <app-action-button 
              [itemId]="history.id" 
              (actionTriggered)="viewDetail.emit($event)">
            </app-action-button>
          </td>
          -->
        </tr>
      } @empty {
        <tr>
          <td colspan="5" class="text-center py-4 text-muted"> <!-- VCB - excluir la columna de acciones -->
            No se encontraron registros en el historial.
          </td>
        </tr>
      }
    </tbody>
  </table>
</div>

@if (rawHistoryLength > itemsPerPage) {
  <div class="card-footer bg-white d-flex justify-content-between align-items-center py-3 border-top">
    <span class="small text-muted fw-bold">Página {{ historyPage() }} de {{ totalHistoryPages() }}</span>
    <app-pagination-buttons 
      [isFirstPage]="historyPage() === 1" 
      [isLastPage]="historyPage() === totalHistoryPages()" 
      (pageOffset)="changeHistoryPage($event)">
    </app-pagination-buttons>
  </div>
}







