 <!-- cabezera -->
<div class="page-shell">
        <header class="p-4 mb-3 border-bottom page-header">
          <div
            class="container-fluid d-grid gap-3 align-items-center"
            style="grid-template-columns: 1fr 2fr"
          >
            <div class="dropdown">
              <div class="logo-container">
                <a href="#">
                  <img
                    src="/images/logo_revendo.png"
                    alt="Revendo logo"
                    width="80"
                    height="50"
                  />
                </a>
                <p class="texto-marca">ReVendo</p>
              </div>
            </div>
            <div class="d-flex align-items-center gap-4">
              <form class="w-100 me-3" role="search">
                <input
                  type="search"
                  class="form-control"
                  placeholder="Search..."
                  aria-label="Search"
                />
              </form>
              <div class="flex-shrink-0 dropdown avatar-dropdown">
                <a
                  href="#"
                  class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="/images/profile-avatar.svg"
                    alt="Avatar de perfil"
                    width="38"
                    height="38"
                    class="rounded-circle"
                  />
                </a>
                <ul class="dropdown-menu dropdown-menu-end  text-small shadow">
                  <li><a class="dropdown-item" href="#">Nueva entrada</a></li>
                  <li><a class="dropdown-item" href="#">Perfil</a></li>
                  <li><a class="dropdown-item" href="#">Favoritos</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Salir</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <nav class="py-2 bg-body page-nav">
         <div class="container d-flex flex-wrap">
            <ul class="nav w-100 justify-content-between gap-2">
              <!-- Todas las categorías -->
              <li class="nav-item dropdown flex-fill text-center">
                <a
                  class="nav-link link-body-emphasis px-3"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  Todas las categorías
                </a>
              
              </li>

              <!-- Categoría 1 -->
              <li class="nav-item dropdown flex-fill text-center">
                <a
                  class="nav-link dropdown-toggle link-body-emphasis px-2"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  Moda y accesorios
                </a>
                <ul class="dropdown-menu w-100 text-center">
                  <li><a class="dropdown-item" href="#">Calzado</a></li>
                  <li><a class="dropdown-item" href="#">Ropa</a></li>
                  <li><a class="dropdown-item" href="#">Joyería</a></li>
                </ul>
              </li>
            
              <!-- Categoría 2 -->
              <li class="nav-item dropdown flex-fill text-center">
                <a
                  class="nav-link dropdown-toggle link-body-emphasis px-2"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  Electrónica
                </a>
                <ul class="dropdown-menu w-100 text-center">
                  <li><a class="dropdown-item" href="#">Telefonía</a></li>
                  <li><a class="dropdown-item" href="#">Informática</a></li>
                  <li><a class="dropdown-item" href="#">Audio</a></li>
                </ul>
              </li>
            
              <!-- Categoría 3 -->
              <li class="nav-item dropdown flex-fill text-center">
                <a
                  class="nav-link dropdown-toggle link-body-emphasis px-2"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  Hogar y muebles
                </a>
                <ul class="dropdown-menu w-100 text-center">
                  <li><a class="dropdown-item" href="#">Muebles</a></li>
                  <li><a class="dropdown-item" href="#">Decoración</a></li>
                  <li><a class="dropdown-item" href="#">Electrodomésticos</a></li>
                </ul>
              </li>
            
              <!-- Categoría 4 -->
              <li class="nav-item dropdown flex-fill text-center">
                <a
                  class="nav-link dropdown-toggle link-body-emphasis px-2"
                  href="#"
                  data-bs-toggle="dropdown"
                >
                  Ocio y deportes
                </a>
                <ul class="dropdown-menu w-100 text-center">
                  <li><a class="dropdown-item" href="#">Bicicletas</a></li>
                  <li><a class="dropdown-item" href="#">Material deportivo</a></li>
                  <li><a class="dropdown-item" href="#">Instrumentos musicales</a></li>
                  <li><a class="dropdown-item" href="#">Juguetes</a></li>
                  </ul>
              </li>
            
            </ul>
          </div>
        </nav>

