<div class="page-shell">
        <header class="p-4 mb-3 border-bottom page-header">
          <div
            class="container-fluid d-grid gap-3 align-items-center"
            style="grid-template-columns: 1fr 2fr"
          >
            <div class="dropdown">
              <div class="logo-container">
                <a href="#">
                  <img
                    src="/images/logo_revendo.png"
                    alt="Revendo logo"
                    width="80"
                    height="50"
                  />
                </a>
                <p class="marca">ReVendo</p>
              </div>
            </div>

            <div class="d-flex align-items-center">
              <form class="w-100 me-3" role="search">
                <input
                  type="search"
                  class="form-control"
                  placeholder="Search..."
                  aria-label="Search"
                />
              </form>
              <div class="flex-shrink-0 dropdown">
                <a
                  href="#"
                  class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
                  data-bs-toggle="dropdown"
                  aria-expanded="false"
                >
                  <img
                    src="https://github.com/mdo.png"
                    alt="mdo"
                    width="32"
                    height="32"
                    class="rounded-circle"
                  />
                </a>
                <ul class="dropdown-menu text-small shadow">
                  <li><a class="dropdown-item" href="#">Nueva entrada</a></li>
                  <li><a class="dropdown-item" href="#">Perfil</a></li>
                  <li><a class="dropdown-item" href="#">Favoritos</a></li>
                  <li><hr class="dropdown-divider" /></li>
                  <li><a class="dropdown-item" href="#">Sign out</a></li>
                </ul>
              </div>
            </div>
          </div>
        </header>
        <nav class="py-2 bg-body page-nav">
          <div class="container d-flex flex-wrap">
            <ul class="nav w-100 justify-content-between gap-2">
              <li class="nav-item flex-fill text-center">
                <a
                  href="#"
                  class="nav-link link-body-emphasis px-3 active"
                  aria-current="page"
                  >Todas las categorias</a
                >
              </li>
              <li class="nav-item flex-fill text-center">
                <a href="#" class="nav-link link-body-emphasis px-2">Categoria 1</a>
              </li>
              <li class="nav-item flex-fill text-center">
                <a href="#" class="nav-link link-body-emphasis px-2">Categoria 2</a>
              </li>
              <li class="nav-item flex-fill text-center">
                <a href="#" class="nav-link link-body-emphasis px-2">Categoria 3</a>
              </li>
              <li class="nav-item flex-fill text-center">
                <a href="#" class="nav-link link-body-emphasis px-2">Categoria 4</a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="container-fluid pb-3 p-4">
          <div class="d-grid gap-3" style="grid-template-columns: 2fr">
            <div class="bg-body-tertiary border rounded-3">
              <p>FEED</p>
              <br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
            </div>
          </div>
        </div>
      </div>
      