.component-view {
  margin-left: 250px;    
  padding: 1rem;
  width: calc(100% - 250px);
  /* height: calc(100vh - 138px); */
  overflow-y: auto;
  background-color: #f8f9fa;
  transition: margin-left 0.3s ease, width 0.3s ease;
}





